<?xml version="1.0"?>
<!--
/**
 * @author    Mudassar Iqbal <miqbal@dotcommerce.co>
 * @copyright Copyright (c) Dot Commerce
 * @license   MIT
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="DotCommerce\CronScheduler\Api\Data\JobInterface"
                type="DotCommerce\CronScheduler\Model\Job"/>
    <preference for="DotCommerce\CronScheduler\Api\Data\JobSearchResultsInterface"
                type="Magento\Framework\Api\SearchResults"/>
    <preference for="DotCommerce\CronScheduler\Api\JobRepositoryInterface"
                type="DotCommerce\CronScheduler\Model\JobRepository"/>

    <type name="Magento\Cron\Model\Config">
        <plugin name="dc_cronscheduler_apply_overrides"
                type="DotCommerce\CronScheduler\Plugin\Cron\ApplyJobOverrides"/>
    </type>

    <!-- Cron Tasks List grid: resolve the read-only cron_schedule collection by data source name. -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="dc_cronscheduler_tasks_listing_data_source" xsi:type="string">DotCommerce\CronScheduler\Model\ResourceModel\Schedule\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
</config>
