<?xml version="1.0"?>
<!--
/**
 * @author    Mudassar Iqbal <miqbal@dotcommerce.co>
 * @copyright Copyright (c) Dot Commerce
 * @license   MIT
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="DotCommerce_CronScheduler::scheduler"
             title="Cron Scheduler"
             module="DotCommerce_CronScheduler"
             sortOrder="110"
             parent="Magento_Backend::system"
             resource="DotCommerce_CronScheduler::scheduler"/>
        <add id="DotCommerce_CronScheduler::jobs"
             title="Cron Jobs List"
             module="DotCommerce_CronScheduler"
             sortOrder="10"
             parent="DotCommerce_CronScheduler::scheduler"
             action="dc_cronscheduler/jobs/index"
             resource="DotCommerce_CronScheduler::jobs"/>
        <add id="DotCommerce_CronScheduler::tasks"
             title="Cron Tasks List"
             module="DotCommerce_CronScheduler"
             sortOrder="20"
             parent="DotCommerce_CronScheduler::scheduler"
             action="dc_cronscheduler/tasks/index"
             resource="DotCommerce_CronScheduler::tasks"/>
    </menu>
</config>
